* {
  box-sizing: border-box;
}

html, body {
  line-height: 1.25;
}

html, body, ul, li, h1, h2, h3, p, fieldset, legend {
  margin: 0;
  padding: 0;
}

body, header span {
  display: flex;
  flex-direction: column;
  font-family: arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body, a {
  color: #222;
}

body, input, button {
  font-size: 100%;
}

h3 {
  font-size: 16px;
}

header {
  background: right bottom/contain url('images/olenata-background.png') no-repeat;
  text-align: center;
}

header h1 {
  background: .25em/1.25em url('icons/logo.svg') no-repeat;
  font-family: cursive;
  font-size: 50px;
  font-weight: normal;
}

header h1 a {
  background: center/100% linear-gradient(0deg, #b54878, #1220d2) repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: bold;
  position: relative;
  top: .1em;
}

header span {
  background-color: #eee;
  display: block;
  font-size: 13px;
  padding: .5em;
}

footer {
  background-color: #eee;
  border-top: double 2px lightgray;
  margin-top: 1em;
  padding: 1em 0;
  text-align: center;
}

footer .copy, footer .links, footer .icons {
  padding: .5em 0;
}

footer .icons {
  display: block;
  padding-top: 0;
}

footer .icons a {
  padding: 0 .5em;
}

footer .icons path {
  fill: #666;
}

nav {
  background-color: #fff;
  border-bottom: double 2px lightgray;
  border-top: double 2px lightgray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: .95;
  padding: .5em;
  position: sticky;
  top: 0;
}

nav a {
  flex: 0 1 auto;
  padding: .5em;
  transition: background-color .5s, color .2s;
  width: max-content;
}

nav a:hover, nav a:focus,
nav a:active, nav a.active {
  background-color: lavenderblush;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  transition: color .2s;
}

a:hover {
  color: Indigo;
}
footer .copy a:hover path {
  fill: Indigo;
}

fieldset {
  border: solid 1px lightgray;
  border-radius: 4px;
  margin: 1em;
  padding: 0 1em 1em;
}

fieldset legend h2 {
  font-size: 20px;
  font-weight: bold;
  padding: 0 0.5em;
}

.row .column .card {
  display: flex;
  margin-top: 1em;
}

.row .column .card a {
  display: block;
  width: 100%;
}

.row .column .card .image {
  align-items: center;
  aspect-ratio: 16/9;
  background-color: #eee;
  background-position: center;
  background-size: cover;
  border: solid 1px DarkSlateGray;
  display: flex;
  width: 100%;
}

/* noscript */
.row .column .card .image picture {display: flex;}
.row .column .card .image img {max-height: 100%;}
/* /noscript */

.row .column .card .image,
.row .column .card h3 {
  margin-bottom: .5em;
}

#consent-banner,
#ios-pwa-prompt {
  background-color: #eee;
  border: solid 1px DarkSlateGray;
  border-radius: 4px;
  display: none;
  padding: 1.25em 1em;
  position: fixed;
  left: 50%;
  bottom: 2em;
  text-align: center;
  transform: translate(-50%);
  width: 90%;
}

#consent-banner a { color: #46a /* RoyalBlue */; }

#consent-banner button,
#ios-pwa-prompt button {
  border: 0;
  text-decoration: underline;
}

#ios-pwa-prompt svg {
  fill: none;
  stroke: #231f20;
  vertical-align: text-bottom;
  width: 16px;
}

#ios-pwa-prompt::before,
#ios-pwa-prompt::after {
  position: absolute;
  content: "";
  border: 1em solid transparent;
  border-top-color: DarkSlateGray;
  transform: translate(-50%);
  left: 50%;
  bottom: -2em;
}

#ios-pwa-prompt::after {
 border-top-color: #eee;
 bottom: -1.9em;
}

.terms main > *, .terms main li,
.privacy main > *, .privacy main li,
.disclaimer main > * {
  margin: 1em 5%;
}

@media only screen and (min-width: 801px) {
  h1 a, h2 a {padding: 0 .25em;}
  header {
    background-size: auto;
    height: 120px;
    position: relative;
  }
  header h1 {
    font-size: 80px;
    padding: .1em 0;
    text-align: left;
  }
  header span {
    background-color: transparent;
    padding: 1em;
    position: absolute;
    right: 0;
  }
  header h1 a {
    left: 1.2em;
    top: .25em;
  }

  footer {
    align-items: center;
    display: flex;
  }
  footer .copy, footer .links {
    flex: 1 1 auto;
    padding: 0 1em;
  }
  footer .links {text-align: left;}
  footer .copy {
    align-items: center;
    display: flex;
    justify-content: right;
  }

  footer .icons {
    padding: .25em 1em 0 0;
  }

  .row {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }
  .row .column.hcwi {flex: 2 1 0;}
  .row .column.vcwi {flex: 1 1 0;}
  .row .column.text {flex: 1 1 0;}
  .row .column.hcwi .card {clear: both;}
  .row .column.hcwi .card .image {
    float: left;
    margin-right: 1em;
    width: 15em;
  }
  .row .column.text .card .image {
    display: none;
  }
  .row .column.vcwi {
    background-color: lavenderblush;
    border: solid 1px Indigo;
    border-radius: 4px;
    margin-top: 1em;
    padding: 0 1em 1em;
  }

  #consent-banner {
    text-align: left;
    width: 60%;
  }
}